
<!-- sidenav -->
<div class="example-container">
<!--  toolbar -->
<mat-toolbar class= "navbar" color= "primary">
    <div>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
    </div>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>

        <!-- define menu items -->
        <mat-menu #useraccount="matMenu" xPosition="before" yPosition="below">
          <ng-template matMenuContent let-name="name" let-hobby="hobby">
              <button mat-menu-item [matMenuTriggerFor]="useraccountsubmenu">Account</button>
              <button mat-menu-item>Logout {{name}}, hobby is {{hobby}}</button>
          </ng-template>
        </mat-menu>

        <mat-menu #useraccountsubmenu="matMenu" xPosition="before" yPosition="below">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Billing</button>
        </mat-menu>


        <button mat-icon-button [matMenuTriggerFor]="useraccount" [matMenuTriggerData]="{name: 'John', hobby: 'golf'}">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
      <mat-sidenav mode="side" #sidenav [(opened)]="opened" (opened)="log('opened')" (closed)="log('closed')" > 
        <span>Sidenav</span>
    
      </mat-sidenav>
      <mat-sidenav-content>
    
    
        
        <!-- button -->
        <button mat-raised-button color="accent">
          <!-- icon -->
          <mat-icon>home</mat-icon>
        </button>
    
        <!-- button toggle group -->
        <div>
            <mat-button-toggle-group #toggleButton="matButtonToggleGroup" multiple>
                <mat-button-toggle value="1">One</mat-button-toggle>
                <mat-button-toggle value="2">Two</mat-button-toggle>
              </mat-button-toggle-group>
        </div>
    
        <div>
          value is {{toggleButton.value}}
        </div>
    
        <!-- Bades , hides bades when notifications = 0-->
        <div>
            <span [matBadge]="notifications" matBadgePosition="above after" [matBadgeHidden]="notifications === 0" matBadgeSize="medium" matBadgeColor="warn" matBadgeOverlap="false"><mat-icon>arrow_circle_right</mat-icon> Notifications</span>
        </div>
    
        <!-- progress spinner , a static one. takes value between 0 and 100 -->
        <mat-progress-spinner value = "40"></mat-progress-spinner>
    
        <!-- indefinite spinner, indicates something is loadind -->
        <mat-spinner *ngIf= "showSpinner" color= "accent"></mat-spinner> <!-- show spinner only if showSpinner is set to true -->
        <button (click)="loadData()" mat-raised-button color="primary">Load Data</button>
    
        <!-- binded opened flag to sidenav opened property -->
        <button mat-raised-button color="primary" (click)="opened=!opened"> Toggle sidenav</button>
        <button mat-raised-button color="primary" (click)="sidenav.open()"> Open sidenav</button>
        <button mat-raised-button color="primary" (click)="sidenav.close()"> close sidenav</button>
        <!-- use toggle method for hammer icon to show/hide sidenav --> <!-- tooltip -->
        <button mat-raised-button color="primary" (click)="sidenav.toggle()" matTooltip="Click to toggle the sidenav" matTooltipClass="example-tooltip-red" matTooltipPosition="after" maTolltipShowDelay="2000" matTooltipHideDelay="2000"> toggle sidenav</button>    

        <!-- list,navlist and selection list -->
        <mat-list dense> <!-- use dense attribute if the list of items are numerous -->
          <mat-list-item>list 1</mat-list-item>
          <mat-list-item>list 2</mat-list-item>
          <mat-list-item>list 3</mat-list-item>
        </mat-list>

        <mat-nav-list>
            <a mat-list-item href="#">Home</a>
            <a mat-list-item href="#">About</a>
            <a mat-list-item href="#">Services</a>
        </mat-nav-list>
  
        <mat-list> <!-- multi-line list -->
          <mat-list-item>
            <mat-icon matListIcon >home</mat-icon>
            <h3 matLine>Heading</h3>
            <p matLine>Home icon</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
              <mat-icon matListIcon >folder</mat-icon>
              <h3 matLine>Heading 2</h3>
              <p matLine>Folder icon</p>
            </mat-list-item>
        </mat-list>

        <mat-selection-list #shoes>
            <mat-list-option>
              boots
            </mat-list-option>
            <mat-list-option>
                shoe
            </mat-list-option>
            <mat-list-option>
                slippers
            </mat-list-option>
          </mat-selection-list>
          <p>
            Options selected: {{shoes.selectedOptions.selected.length}}
          </p>

          <mat-selection-list #shoes1 [multiple]="false">
              <mat-list-option *ngFor="let s of typesOfShoes" [value]="s">
                  {{s}}
                </mat-list-option >
            </mat-selection-list>
            
            <p>
              Option selected: {{shoes1.selectedOptions.selected[0]?.value}}
            </p>


            <!-- grid list -->
            <mat-grid-list cols="2" rowHeight="fit" style="height: 200px" > <!-- setting the height of container to 200px. now each row will get 100px-->
              <mat-grid-tile>1</mat-grid-tile>
              <mat-grid-tile>2</mat-grid-tile>
              <mat-grid-tile>3</mat-grid-tile>
              <mat-grid-tile>4</mat-grid-tile>
            </mat-grid-list>

            <!-- Expansion Panel -->
            <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Angular Fundamentals</mat-panel-title>
                <mat-panel-description>Duration 3hrs</mat-panel-description>
              </mat-expansion-panel-header>
              <p>This tutorial hs 3hrs of course on Angular Fundamentals</p>
              <mat-action-row>
                <button mat-raised-button color="primary" >Enroll</button>
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Angular Advanced</mat-panel-title>
                <mat-panel-description>Duration 3hrs</mat-panel-description>
              </mat-expansion-panel-header>
              <p>This tutorial hs 3hrs of course on Angular Advanced</p>
              <mat-action-row>
                  <button mat-raised-button color="primary" >Enroll</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <!--Card is a single component that hosts content and actions about single entity -->
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

          <!-- tabs -->
          <mat-tab-group #tabs mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>
          <p>{{tabs.selectedIndex}}</p>

          <!-- Stepper -->
          <mat-horizontal-stepper linear> <!-- The linear attribute can be set on mat-stepper to create a linear stepper that requires the user to complete previous steps before proceeding to following steps. -->
            <mat-step label="Shipping Address" completed="true">
              <p>Shipping Address Details</p>
            </mat-step>
            <mat-step label="Billing Address" optional>
              <p>Billing Address Details</p>
              <button mat-button matStepperPrevious>Previous</button>
              <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step label="Place Order" completed="false">
                <p>Place Order</p>
              </mat-step>
          </mat-horizontal-stepper>

          <mat-vertical-stepper linear> <!-- The linear attribute can be set on mat-stepper to create a linear stepper that requires the user to complete previous steps before proceeding to following steps. -->
            <mat-step label="Shipping Address" completed="true">
              <p>Shipping Address Details</p>
            </mat-step>
            <mat-step label="Billing Address" optional>
              <p>Billing Address Details</p>
              <button mat-button matStepperPrevious>Previous</button>
              <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step label="Place Order" completed="false">
                <p>Place Order</p>
              </mat-step>
          </mat-vertical-stepper>

          <!-- Input  -->
          <div>
            <mat-form-field floatLabel="auto" appearance="fill" color="accent"> <!-- wrapper for all input elements -->
              <mat-label>Name</mat-label>
              <input matInput required>
              <mat-hint align="end">Min 5 characters</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field floatLabel="auto" appearance="outline" color="warn"> <!-- wrapper for all input elements -->
              <mat-label>Name</mat-label>
              <input matInput required>
              <mat-hint align="end">Min 5 characters</mat-hint>
            </mat-form-field>
          </div>
          
          <!-- select -->
          <div>
            <mat-form-field floatLabel="auto" appearance="outline" color="warn"> <!-- wrapper for all input elements -->
              <mat-label>UI Technology</mat-label>
              <mat-select [(value)]="selectedValue">
                <mat-option>None</mat-option>
                <mat-optgroup label="web">
                  <mat-option value="angular">Angular</mat-option>
                  <mat-option value="react">React</mat-option>
                  <mat-option value="vue">Vue</mat-option>
              </mat-optgroup>
              <mat-optgroup label="mobile">
                <mat-option value="ionic">Ionic</mat-option>
                <mat-option value="reactnative">React Native</mat-option>
            </mat-optgroup>
              </mat-select>
              <mat-hint align="end">Select UI Technology</mat-hint>
            </mat-form-field>
            <span>{{selectedValue}}</span>
          </div>

          <!-- autocomplete refer again for more options on autocomplete -->
          <form>
            <mat-form-field>
              <input type="text" matInput [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

        <!-- checkbox -->
        <mat-checkbox #chkSubscribe color="primary">Subscribe</mat-checkbox>
        <span>{{chkSubscribe.checked}}</span>
        <br>
        <!--radio button -->
        <mat-radio-group [(ngModel)]="favoriteUI">
          <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
          <mat-radio-button value="react" color="warn">React</mat-radio-button>
          <mat-radio-button value="vue">Vue</mat-radio-button>
        </mat-radio-group>
        <br>
        <span>{{favoriteUI}}</span>

        <section class="example-section" [formGroup]="toppings">
          <h4>Select your toppings:</h4>
          <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
          <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>
          <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p>
        </section>
        
        <section class="example-section" [formGroup]="toppings">
          <h4>You chose:</h4>
          {{toppings.value | json}}
        </section>

        <!-- date picker -->
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input #datepicker matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate"> 
          <!-- [matDatepickerFilter]= "dateFilter" -->
         <!-- to set min and max dates to choose from -->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <span>{{datepicker.value}}</span>
        
        <br>
        <!-- Snackbar-->
        <button mat-raised-button (click)="openSnackBar('Suscribe to news letter', 'Dismiss')">Subscribe</button> 
        <button mat-raised-button (click)="openCustomSnackBar('Suscribe to news letter', 'Dismiss')">Subscribe(Custom)</button> 

        <!-- Dialog -->
        <button mat-raised-button (click)="openDialog()">Open Dialog</button> 

        <!-- Data table. Refer angular documentation for more details -->
        <mat-form-field> <!-- To filter below table -->
          <input (keyup)="applyFilter($event)" matInput placeholder="filter table">
        </mat-form-field>
        <div class="mat-elevation-z8 data-table">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position"> <!-- defines the template of column. doesn't render anything to the DOM. matColumnDef value should match the column name in displayedColumns variable -->
              <th mat-header-cell mat-sort-header *matHeaderCellDef> No. </th> <!-- styling is taken care by mat-header-cell and mat-cell -->
              <td mat-cell *matCellDef="let element"> {{element.position}} </td> <!-- here element is reference to each row -->
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} ({{element.symbol}}) </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></tr> <!-- defines the column order and row reference -->
          </table>
          <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </div>

        <!-- Virtual Scrolling -->
        <cdk-virtual-scroll-viewport itemSize="100" class="number-container">
          <div *cdkVirtualFor="let number of numbers" class="number">
            {{number}}
          </div>
        </cdk-virtual-scroll-viewport> 

        <router-outlet>
          
        </router-outlet>
          <div>
            <p>End of material components</p>
            <p>End of material components</p>
            <p>End of material components</p>
          </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>





 